.env
docker-compose.yml

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
BACK_END/db/seed.sql
BACK_END/db/migration_down.sql
BACK_END/db/seed.sql
BACK_END/db/migration_down.sql
FRONT_END/index.html
FRONT_END/test_front/creation-depot.html
FRONT_END/test_front/details-depot.html
FRONT_END/test_front/index.html
FRONT_END/test_front/index1.html
FRONT_END/test_front/liste-depots.html
FRONT_END/test_front/test.html
FRONT_END/test_front/test1.html
FRONT_END/index.html
FRONT_END/index.html
